---
permalink: /
title: "README"
excerpt: "README"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

This is Hao Lin, a PhD student working under the advisement of <a href="http://www.greenorbs.org/people/lzh/">Prof. Zhenhua Li</a> at School of Software, Tsinghua University. Wishing to <a href="https://mygeekwisdom.com/2011/09/11/try-not-do-or-do-not-there-is-no-try/">do</a> some <a href="https://perceiving-systems.blog/en/news/novelty-in-science">beautiful</a> system researches, my current interests mainly cover virtualization and operating systems. If you are interested in my research projects, plesae check them out below. Also, I (randomly) write some <a href="https://www.linhao.me/year-archive/">technical blogs</a> to share my experiences gained in doing the projects. Hope they'll benefit you as well!

<h2>Recent and Selected Publications (<a href="{{site.url}}/publications/">Full List</a>)</h2>

{% include base_path %}

{% for post in site.publications reversed %}
  {% if post.selected == "true" %}
    {% include publication.html %}
  {% endif %}
{% endfor %}
