---
permalink: /
title: "README"
excerpt: "README"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

This is Hao Lin, a Lead Researcher at <a href="https://www.infini-ai.com">Infinigence</a>. I am the maintainer and lead developer of <a href="https://github.com/RLinf/RLinf">RLinf</a>, an open-source RL training system. My current research focuses on large-scale training systems for embodied and agentic AI. Previously, I received my PhD from Tsinghua University, where I was fortunate to be advised by Prof. Zhenhua Li and also spent a wonderful time with Prof. Tianyin Xu at UIUC. If you are interested in my research projects, please check them out below. Also, I (randomly) write some <a href="https://www.linhao.me/year-archive/">tech blogs</a> to document my experiences. Hope they'll benefit you as well!

<h2>Recent and Selected Publications (<a href="{{site.url}}/publications/">Full List</a>)</h2>

{% include base_path %}

{% for post in site.publications reversed %}
  {% if post.selected == "true" %}
    {% include publication.html %}
  {% endif %}
{% endfor %}
